[submodule "src/u-boot"]
	path = src/u-boot
	url = https://github.com/u-boot/u-boot.git
[submodule "src/arm-trusted-firmware"]
	path = src/arm-trusted-firmware
	url = https://github.com/xX7/arm-trusted-firmware.git
[submodule "src/bao-hypervisor"]
	path = src/bao-hypervisor
	url = https://github.com/xX7/bao-hypervisor.git
[submodule "src/freertos"]
	path = src/freertos
	url = https://github.com/xX7/freertos-bao-hartstone.git
	branch = hartstone
